################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nugetPackages
/.vs
/QuestDB.Change.Tracker.Api/obj
/QuestDB.Change.Tracker.Api/bin
/UT.QuestDB.Change.Tracker.Api/bin
/UT.QuestDB.Change.Tracker.Api/obj
obj
/QuestDB.Change.Tracker.Api/bin
